* text=auto eol=lf

[attr]lfs-attr filter=lfs diff=lfs merge=lfs -text

*.rs        text eol=lf
*.toml      text eol=lf
*.kt        text eol=lf
*.xml       text eol=lf
*.json      text eol=lf
*.md        text eol=lf
*.sh        text eol=lf
*.ps1       text eol=lf

*.so        lfs-attr
*.a         lfs-attr
*.jar       lfs-attr

*.png       binary
*.jpg       binary
